<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smart City Management Test Suite">
  <test name="analyticstest">
        <classes>
            <class name="com.city.service.AnalyticsServiceTest"/>
        </classes>
    </test>

    <test name="complainttests">
        <classes>
            <class name="com.city.service.ComplaintServiceTest"/>
        </classes>
    </test>

    <test name="emergencytests">
        <classes>
            <class name="com.city.service.EmergencyServiceTest"/>
        </classes>
    </test>

    <test name="traffictests">
        <classes>
            <class name="com.city.service.TrafficManagementServiceTest"/>
        </classes>
    </test>

    <test name="utilitytests">
        <classes>
            <class name="com.city.service.UtilityMonitoringServiceTest"/>
        </classes>
    </test>

</suite> <!-- Suite -->
